.tableListColLarge {
  width: 30%;
}

.tableListColActions {
  width: 14%;
  display: flex;
  align-items: center;
}

.tableListActions {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.tableListActions button {
  padding: 1rem;
  background: var(--buttonSecondaryBG);
  border: 1px solid #D0D5DD;
  color: #1E1E1E;
  font-size: 1.4rem;
  font-weight: 600;
}

.tableListActions button.delete {
  border-color: var(--fgErrorColor);
  color: var(--fgErrorColor);
  background-color:  #FEE2E2;
}