.linkToCancelContainer {
  width: 100%;
  text-align: center;
  margin-top: 2.2rem;
}

.linkToCancelContainer a {
  text-decoration: none;
  color: var(--textPrimaryColor);
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}