:root {
  font-size: 62.5%;

  --primaryColor: #0F8982;
  --secondaryColor: #0F8982;
  --lightGreenColor: #089B93;
  --buttonLinkFG: #0A7275;
  --buttonSecondaryBG: #FFFFFF;
  --primaryBG: #FFFFFF;
  --white: #FFFFFF; 
  --textPrimaryButtonColor: #F3F6F7;
  --fgErrorColor: #EF4444;
  --messageAlertColor: #DC0046;
  --textRegisterInputTitleColor: #000000;
  --textInputColor: #4E4E4E;
  --textPrimaryColor: #101828;
  --textTertiaryColor: #475467;
  --textFooterColor: #3C465A;
  --textTitleInputColor: #747C80;
  --subtitleColor: #535E63;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}

body, #root {
  font-size: 1.6rem;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0.8rem;
}

input {
  border: none;
  outline: none;
  border: 1px solid #000000;
  border-radius: 0.8rem;
}

input:focus {
  border: 4px solid var(--lightGreenColor);
}